{% extends 'base/_base.html' %}
{% load static mytags %}
{% block preloader %}
{% endblock %}
{% block head_css %}
    <link href="{% static 'vendor/bootstrap-select/css/bootstrap-select.min.css' %}" rel="stylesheet">
{% endblock %}
{% block header %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">工单审批流程配置</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">首页</a></li>
                        <li class="breadcrumb-item active">流程配置</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="callout callout-info">
                <h5><i class="fas fa-info"></i> 注:</h5>
                <span class="text-red">选择多个权限组即审批流程为多级审核，按照选择顺序进行流转，权限组内用户都可审核。</span>

            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-default">
                        <div class="card-header">
                            选择操作
                        </div>
                        <div class="card-body">
                            <div id="div-workflow" class="form-group">
                                <h5 class="control-label">工单类型：</h5>
                                <div class="form-group">
                                    <select id="workflow_type" name="group" class="select2bs4 form-control"
                                            data-name="工单类型" data-placeholder="请选择工单类型:" required>
                                        {% for k, v  in workflow_type.items %}
                                            <option value="{{ k }}" class="fa-thin fa-arrows-rotate">{{ v }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <h5 class="control-label">业务组：</h5>
                                <div class="form-group">
                                    <select id="apps_group" name="group"
                                            class="select2bs4 form-control"
                                            data-name="组" data-placeholder="请选择组:" data-live-search="true" required>
                                        {% for group in apps_group_list %}
                                            <option value="{{ group.0 }}">{{ group.1 }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <button  class="btn btn-info btn-block" id="csubmit"><b>提交</b></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card card-default">
                        <div class="card-header">
                            操作
                        </div>
                        <div class="card-body">
                            <div id="div-workflow-config" class="form-group">
                                <h5 class="control-label mt-3">当前审批流程：
                                    <span id="workflow_auditors"></span></h5>
                                <br>
                                <div class="form-inline">
                                    <div><h5 style="float:left;" class="control-label">变更审批流程：</h5></div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="workflow_auditors_change"
                                               disabled="disabled" style="width: 283px">
                                    </div>
                                    <div class="form-group ml-1">
                                        <select id="group_auditors" name="group" title="请选择审批权限组"
                                                class="form-control selectpicker" data-live-search="true"
                                                data-name="审批人" data-placeholder="审批人:" required>
                                            {% for auth_group in auth_group_list %}
                                                <option value="{{ auth_group.name }}">{{ auth_group.name }}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group ml-1">
                                        <button id="btn-workflow-config" class="btn btn-default">变更</button>
                                        <button id="btn-workflow-config-clean" class="btn btn-default ml-1">刷新</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}
{% block js %}
    <script src="{% static 'vendor/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-select/js/i18n/defaults-zh_CN.min.js' %}"></script>
    <script>
        var Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000
        });

        $(document).ready(function () {
            $("#workflow_type").trigger("change");
        });
        // 切换组触发工单类型切换事件
        $("#apps_group").change(function () {
            $("#workflow_type").trigger('change')
        });

        $("#workflow_type").change(function () {
            let apps_group_id = $("#apps_group").val();
            let workflow_type = $("#workflow_type").val();
            if (apps_group_id != undefined && workflow_type != undefined) {
                let url = "{% url 'api-workflow:auditor' %}";
                $('#group_auditors').trigger("reset");
                $("#workflow_auditors_change").val('');
                $.ajax({
                    type: "post",
                    url: url,
                    dataType: "json",
                    data: {
                        id: apps_group_id,
                        workflow_type: workflow_type
                    },
                    success: function (data) {
                        if (data.status === 0) {
                            let result = data.data;
                            if (result['auditors_display'] != "") {
                                $("#workflow_auditors").text(result['auditors_display']);
                            } else {
                                $("#workflow_auditors").html('<span class="text-bold text-secondary">暂无</span>' +
                                    '   <span class="text-secondary"  style="font-size: 1rem">请通过变更流程增加审核组</span>')
                            }

                        } else {
                            Toast.fire({
                                icon: 'error',
                                text: data.msg,
                                title: "操作失败"
                            });
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        Toast.fire({
                            icon: 'error',
                            text: errorThrown,
                            title: "操作失败"
                        });
                    }
                })
            } else {
                Toast.fire({
                    icon: 'error',
                    text: '业务组和工单类型必须都选择一项',
                    title: "操作失败"
                });
            }
            console.log(apps_group_id, workflow_type)
        });
        // 点击用户填充到workflow_auditors_text
        $("#group_auditors").change(function () {
            var auth_group = $(this).find(':selected').attr("disabled", "disabled").val();
            var auditors = $("#workflow_auditors_change").val();
            if (auditors) {
                $("#workflow_auditors_change").val(auditors + '->' + auth_group);
            } else {
                $("#workflow_auditors_change").val(auth_group)
            }
            $('#group_auditors').selectpicker('render');
            $('#group_auditors').selectpicker('refresh');
        });

        // 重置权限组选择框状态
        $("#group_auditors").on("reset", function () {
            $('#group_auditors').selectpicker('val', []);
            $(this).children().removeAttr("disabled");
            $(this).selectpicker("refresh");
        });
        // 清空审核人信息
        $("#btn-workflow-config-clean").click(function () {
            $('#group_auditors').trigger("reset");
            $("#workflow_auditors_change").val('');
        });
        $("#btn-workflow-config").click(function () {
            if ($("#apps_group").val() && $("#workflow_type").val() && $("#workflow_auditors_change").val()) {
                $(this).addClass('disabled');
                $(this).prop('disabled', true);
                var auth_group_name = $("#workflow_auditors_change").val().replace(/->/g, ",");
                var url = "{% url 'api-workflow:approve' %}";
                $.ajax({
                    type: "post",
                    url: url,
                    dataType: "json",
                    data: {
                        apps_group_id: $("#apps_group").val(),
                        auth_group_name: auth_group_name,
                        workflow_type: $("#workflow_type").val()
                    },
                    complete: function () {
                        $("#btn-workflow-config").removeClass('disabled');
                        $("#btn-workflow-config").prop('disabled', false);
                    },
                    success: function (data) {
                        //alert('修改成功');
                        $("#workflow_type").trigger("change");
                        Toast.fire({
                            icon: 'success',
                            title: "操作成功"
                        });
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        Toast.fire({
                            icon: 'error',
                            text: errorThrown,
                            title: "操作失败"
                        });
                    }
                });
            }
        })




    </script>
{% endblock %}