{% extends 'base/_base.html' %}
{% load static mytags %}
{% block preloader %}
{% endblock %}
{% block head_css %}
    <link href="{% static 'vendor/bootstrap-table/bootstrap-table.min.css' %}" rel="stylesheet">
{% endblock %}
{% block header %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">业务组详情</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">业务组</a></li>
                        <li class="breadcrumb-item active">关联对象</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div>
    </div>
{% endblock %}
{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <!-- 审核列表的表格-->
                            <div id="toolbar" class="form-inline pull-left">
                                <div class="form-group mr-1">
                                    <select id="group-type" class="form-control select2bs4">
                                        <option value="" selected="selected">全部</option>
                                        <option value=0>用户</option>
                                        <option value=1>实例</option>
                                    </select>
                                </div>
                                <div class="form-group ">
                                    <button id="btn_add" type="button" class="btn btn-default" data-toggle="modal"
                                            data-target="#add-app-user">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                        新增关联对象
                                    </button>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table id="appgroup-detail-list" data-toggle="table"
                                       class="table table-striped table-hover"
                                       style="table-layout:inherit;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 定时执行弹出框 -->
    <div class="modal fade" id="AddAppGroupComfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header ">
                    <h5 class="modal-title" id="exampleModalLabel">定时更新资产信息</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/timingtask/" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>执行时间</label>
                            <div class="input-group date" id="reservationdatetime" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" name="daterange"
                                       data-target="#reservationdatetime"/>
                                <div class="input-group-append" data-target="#reservationdatetime" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
                    <input type="button" id="btnAddsqlcronjob" class="btn btn-danger" value="确认提交"/>
                </div>
            </div>
        </div>
    </div>
    <!-- 关联管理-->
    <div class="modal fade" id="add-app-user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">新增关联对象</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="form-control" id="group_name" value="{{ object.group_name }}" disabled
                               placeholder="组">
                    </div>
                    <div class="form-group">
                        <select id="object_type" name="object_type" class="select2bs4" required>
                            <option selected="selected" disabled="">请选择关联对象类型:</option>
                            <option value=0>用户</option>
                            <option value=1>实例</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select  id="object_ids" class="duallistbox" multiple="multiple">
                            <option value="is-empty" disabled="" selected="selected">请选择关联对象:</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-success" onclick="addRelation()">提交</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'vendor/bootstrap-table/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-table/locale/bootstrap-table-zh-CN.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-table/extensions/export/bootstrap-table-export.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-table/extensions/export/tableExport.min.js' %}"></script>
    <script>
        function get_appgroup_detail_list() {
            //采取异步请求
            //初始化table
            var app_group_detail_url = "{% url 'api-app-group-detail' pk=object.group_id %}";
            $('#appgroup-detail-list').bootstrapTable('destroy').bootstrapTable({
                escape: true,
                method: 'get',
                contentType: "application/x-www-form-urlencoded",
                url: app_group_detail_url,
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: true,                     //是否启用排序
                sortOrder: "asc",                   //排序方式
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                      //初始化加载第一页，默认第一页,并记录
                pageSize: 10,                     //每页的记录行数（*）
                pageList: [20, 30, 50, 100],       //可供选择的每页的行数（*）
                search: true,                      //是否显示表格搜索
                strictSearch: false,                //是否全匹配搜索
                showColumns: true,                  //是否显示所有的列（选择显示的列）
                showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
                uniqueId: "id",                     //每一行的唯一标识，一般为主键列
                showToggle: true,                   //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                locale: 'zh-CN',                    //本地化
                toolbar: "#toolbar",               //指明自定义的toolbar
                queryParamsType: 'limit',
                queryParams:
                    function (params) {
                        return {
                            limit: params.limit,
                            offset: params.offset,
                            type: $("#group-type").val(),
                            search: params.search
                        }
                    },
                columns: [{
                    title: '关联对象描述',
                    field: 'object_name'
                    // visible: false // 默认不显示
                },{
                    title: '关联对象类型',
                    field: 'object_type',
                    formatter: function (value, row, index) {
                        switch (value) {
                            case 0:
                                return "用户";
                                break;
                            case "1":
                                return "实例";
                                break;
                            default:
                                return "未知"
                        }
                    }
                },{
                    title: '资源组',
                    field: 'group_name'
                }],
                onLoadSuccess: function () {
                },
                onLoadError: onLoadErrorCallback,
                onSearch: function (e) {
                    //传搜索参数给服务器
                    this.queryParams(e)
                },
                responseHandler: function (res) {
                    //在ajax获取到数据，渲染表格之前，修改数据源
                    console.log(res);
                    return {
                        "total": res.count,
                        "rows": res.results
                    }
                }
            })
        }

        // 获取未关联对象信息
        $("#object_type").change(function () {
            var group_id = parseInt({{ object.group_id }});
            var object_type = $("#object_type").val();
            var url = "{% url 'api-app-group-un' pk='000' %}".replace('000', group_id) + "?type=" + object_type;
            $.ajax({
                type: "get",
                url: url,
                dataType: "json",
                contentType : "application/json",
                success: function (data) {
                    $("#object_ids").empty();
                    $(data).each(function () {
                        var o = document.createElement("option");
                        o.value = this['object_id'];
                        o.text = this["object_name"];
                        $("#object_ids")[0].options.add(o)
                        $("#object_ids").bootstrapDualListbox('refresh');
                    });
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });

        // 信息关联对象
        function addRelation() {
            var group_id = parseInt({{ object.group_id }});
            var object_type = $("#object_type").val();
            var object_ids = $("#object_ids").val();
            var url = "{% url 'api-app-group-un' pk='000' %}".replace('000', group_id);
            if (group_id && object_type && object_ids) {
                $.ajax({
                    type: "post",
                    url: url,
                    dataType: "json",
                    data: {
                        object_type: object_type,
                        object_ids: JSON.stringify(object_ids)
                    },
                    complete: function () {
                        $('button[type=button]').addClass('disabled');
                        //$('button[type=button]').prop('disabled', false);
                    },
                    success: function (data) {
                        if (data.status === 0) {
                            window.location.reload(true);
                        } else {
                            alert(data.msg)
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
            } else {
                alert('请填写完整！')
            }

        }

        $("#group-type").change(function () {
            get_appgroup_detail_list();
        });

        //初始化数据
        $(document).ready(function () {
            get_appgroup_detail_list();
        });
    </script>
{% endblock %}